.container {
	padding: 30px;
	overflow: hidden;
}

.breadcrumb {
    list-style: outside none none;
    border: 1px solid gray;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li::before {
    padding: 0px 5px;
    color: #CCC;
    content: "/ ";
}

.eye-open:before {
	content: "(verstecken)";
	font-size: 50%;
}
.eye-close:before {
	content: "(anzeigen)";
	font-size: 50%;
}

#contains .table-bordered{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

#contains .table-bordered th, 
#contains .table-bordered td {
	border: 1px solid gray;
	padding: 0.3em;
}

#legalnotice {
	font-style:italic;
}

/* Nummerierte Listen entfernen */
#content ol.toc { list-style-type: none; }
#content ol.toc ol { list-style-type: none; }
#content ol.toc ol ol { list-style-type: none; }


#content h1 {
	margin:0px;
	padding: 0ex 0ex 0ex;
	margin-bottom: 0ex;
	-moz-border-radius-topleft: 0ex;
	-moz-border-radius-topright: 0ex;
	border-top-left-radius: 0ex;
	border-top-right-radius: 0ex;
	color: black;
	background-color: white;
	text-align: center;
	font-family: "Georgia", serif;
	font-weight: normal;
	font-size: 1.5em;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
	display:inline;
	visibility:hidden;
	position: relative;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
	visibility:visible;
}

.toc ol, 
.toc ol ol, 
.toc ol ol ol {
	padding-left: 1em;
}

.anchor {
	color:black;
	vertical-align: middle;
	position: absolute;
	top: 1px;
	left: 3px;
	display: block;
	padding-left: 5px;
}

.anchorimage {
	height: 18px;
}

.toc ol, .toc ul, .toc{
	list-style-type: none;
}

#toctoggle {
	cursor:pointer;
}

#content ol.LowerAlpha{
	list-style-type: lower-alpha;
}

#content ol.LowerRoman{
	list-style-type: lower-roman;
}

#content ol.UpperRoman{
	list-style-type: upper-roman;
}

#content ol.Decimal{
	list-style-type: decimal;
}

* {
	box-sizing: border-box;
}