.container {
	padding: 30px;
	overflow: hidden;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
	display:none;
	position: relative;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
	display:inline;
}

.anchor {
	color:black;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 3px;
	display: block;
	padding-right: 0px;
	padding-left: 30px;
	margin-left: -30px;
	font-size: 12pt;
}

.anchor .glyphicon {
	position: absolute;
	top: 0px;
	left: 3px;
	display: block;
	padding-right: 0px;
	padding-left: 30px;
	margin-left: -30px;
}

.anchor:hover{
	color:black;
}

.toc ol, .toc ul, .toc{
	list-style-type: none;
}

#toctoggle {
	cursor:pointer;
}

ol.LowerAlpha{
	list-style-type: lower-alpha;
}

ol.Decimal{
	list-style-type: decimal;
}

* {
	box-sizing: border-box;
}